<script type="text/javascript">
// <![CDATA[

/**
 * Language strings for the MODX Creator.
 * Need to have them here for phpBB to parse them.
 */

var lang = [];

var image_path = '{T_IMAGESET_PATH}/';

lang['ACTION_EXPLAIN'] = '{LA_ACTION_EXPLAIN}';
lang['ADD_AFTER'] = '{LA_ADD_AFTER}';
lang['ADD_BEFORE'] = '{LA_ADD_BEFORE}';
lang['ADD_FIELD_ABOVE'] = '{LA_ADD_FIELD_ABOVE}';
lang['ADD_FIELD_ABOVE_EXPLAIN'] = '{LA_ADD_FIELD_ABOVE_EXPLAIN}';
lang['ADD_FIELD_BELOW'] = '{LA_ADD_FIELD_BELOW}';
lang['ADD_FIELD_BELOW_EXPLAIN'] = '{LA_ADD_FIELD_BELOW_EXPLAIN}';
lang['ADD_FOUR'] = '{LA_ADD_FOUR}';
lang['ADD_FOUR_EXPLAIN'] = '{LA_ADD_FOUR_EXPLAIN}';

lang['CHANGE'] = '{LA_CHANGE}';
lang['CHANGE_ADD'] = '{LA_CHANGE_ADD}';
lang['COMMENT'] = '{LA_COMMENT}';
lang['COMMENT_EXPLAIN'] = '{LA_COMMENT_EXPLAIN}';
lang['CONTRIB'] = '{LA_CONTRIB}';
lang['CONTRIBUTION_ADD'] = '{LA_CONTRIBUTION_ADD}';
lang['CONTRIBUTION_EXPLAIN'] = '{LA_CONTRIBUTION_EXPLAIN}';
lang['COPY_FROM_TO'] = '{LA_COPY_FROM_TO}';
lang['CURRENT'] = '{LA_CURRENT}';

lang['DATE'] = '{LA_DATE}';
lang['DATE_EXPLAIN'] = '{LA_DATE_EXPLAIN}';
lang['DBMS'] = '{LA_DBMS}';
lang['DEFAULT'] = '{LA_DEFAULT}';
lang['DELETE'] = '{LA_DELETE}';
lang['DEPENDENCY'] = '{LA_DEPENDENCY}';

lang['EDIT_ADD_ABOVE'] = '{LA_EDIT_ADD_ABOVE}';
lang['EDIT_ADD_BELOW'] = '{LA_EDIT_ADD_BELOW}';
lang['EDIT_EXPLAIN'] = '{LA_EDIT_EXPLAIN}';
lang['EDIT_FIND_EXPLAIN'] = '{LA_EDIT_FIND_EXPLAIN}';
lang['EDIT_NOTE'] = '{LA_EDIT_NOTE}';
lang['E_MAIL'] = '{LA_E_MAIL}';

lang['FILE_ADD'] = '{LA_FILE_ADD}';
lang['FILE_OPEN'] = '{LA_FILE_OPEN}';
lang['FILE_OPEN_EXPLAIN'] = '{LA_FILE_OPEN_EXPLAIN}';
lang['FIND'] = '{LA_FIND}';
lang['FIND_DELETE_EXPLAIN'] = '{LA_FIND_DELETE_EXPLAIN}';
lang['FIND_EXPLAIN'] = '{LA_FIND_EXPLAIN}';
lang['FROM'] = '{LA_FROM}';

lang['HREF'] = '{LA_HREF}';

lang['INFO_ICON'] = '{LA_INFO_ICON}';
lang['INLINE'] = '{LA_INLINE}';
lang['INLINE_FIND'] = '{LA_INLINE_FIND}';
lang['INLINE_EXPLAIN'] = '{LA_INLINE_EXPLAIN}';

lang['LANGUAGE'] = '{LA_LANGUAGE}';
lang['LINK_TITLE'] = '{LA_LINK_TITLE}';

lang['NOT_PHPBB'] = '{LA_NOT_PHPBB}';
lang['NOT_PHPBB_EXPLAIN'] = '{LA_NOT_PHPBB_EXPLAIN}';

lang['OPERATION'] = '{LA_OPERATION}';

lang['PARENT'] = '{LA_PARENT}';
lang['PAST'] = '{LA_PAST}';
lang['POSITION'] = '{LA_POSITION}';

lang['QUERY'] = '{LA_QUERY}';

lang['REAL_NAME'] = '{LA_REAL_NAME}';
lang['REMOVE'] = '{LA_REMOVE}';
lang['REMOVE_FOUR'] = '{LA_REMOVE_FOUR}';
lang['REMOVE_FOUR_EXPLAIN'] = '{LA_REMOVE_FOUR_EXPLAIN}';
lang['REPLACE_WITH'] = '{LA_REPLACE_WITH}';

lang['SELECT_TYPE'] = '{LA_SELECT_TYPE}';
lang['SELECT_TYPE_EXPLAIN'] = '{LA_SELECT_TYPE_EXPLAIN}';
lang['STATUS'] = '{LA_STATUS}';

lang['TEMPLATE'] = '{LA_TEMPLATE}';
lang['TEMPLATE_LANG'] = '{LA_TEMPLATE_LANG}';
lang['TEXT_FILE'] = '{LA_TEXT_FILE}';
lang['TO'] = '{LA_TO}';
lang['TYPE'] = '{LA_TYPE}';

lang['UNINSTALL_INSTRUCTIONS'] = '{LA_UNINSTALL_INSTRUCTIONS}';
lang['USERNAME'] = '{LA_USERNAME}';

lang['VERSION'] = '{LA_VERSION}';

lang['WWW'] = '{LA_WWW}';

// Languages
lang['ABKHAZIAN'] = '{LA_ABKHAZIAN}';
lang['AFAR'] = '{LA_AFAR}';
lang['AFRIKAANS'] = '{LA_AFRIKAANS}';
lang['ALBANIAN'] = '{LA_ALBANIAN}';
lang['AMHARIC'] = '{LA_AMHARIC}';
lang['ARABIC'] = '{LA_ARABIC}';
lang['ARMENIAN'] = '{LA_ARMENIAN}';
lang['ASSAMESE'] = '{LA_ASSAMESE}';
lang['AYMARA'] = '{LA_AYMARA}';
lang['AZERBAIJANI'] = '{LA_AZERBAIJANI}';
lang['BASHKIR'] = '{LA_BASHKIR}';
lang['BASQUE'] = '{LA_BASQUE}';
lang['BENGALI'] = '{LA_BENGALI}';
lang['BHUTANI'] = '{LA_BHUTANI}';
lang['BIHARI'] = '{LA_BIHARI}';
lang['BISLAMA'] = '{LA_BISLAMA}';
lang['BRETON'] = '{LA_BRETON}';
lang['BULGARIAN'] = '{LA_BULGARIAN}';
lang['BURMESE'] = '{LA_BURMESE}';
lang['BYELORUSSIAN'] = '{LA_BYELORUSSIAN}';
lang['CAMBODIAN'] = '{LA_CAMBODIAN}';
lang['CATALAN'] = '{LA_CATALAN}';
lang['CHINESE'] = '{LA_CHINESE}';
lang['CORSICAN'] = '{LA_CORSICAN}';
lang['CROATIAN'] = '{LA_CROATIAN}';
lang['CZECH'] = '{LA_CZECH}';
lang['DANISH'] = '{LA_DANISH}';
lang['DUTCH'] = '{LA_DUTCH}';
lang['ENGLISH'] = '{LA_ENGLISH}';
lang['ESPERANTO'] = '{LA_ESPERANTO}';
lang['ESTONIAN'] = '{LA_ESTONIAN}';
lang['FAEROESE'] = '{LA_FAEROESE}';
lang['FIJI'] = '{LA_FIJI}';
lang['FINNISH'] = '{LA_FINNISH}';
lang['FRENCH'] = '{LA_FRENCH}';
lang['FRISIAN'] = '{LA_FRISIAN}';
lang['GALICIAN'] = '{LA_GALICIAN}';
lang['GEORGIAN'] = '{LA_GEORGIAN}';
lang['GERMAN'] = '{LA_GERMAN}';
lang['GREEK'] = '{LA_GREEK}';
lang['GREENLANDIC'] = '{LA_GREENLANDIC}';
lang['GUARANI'] = '{LA_GUARANI}';
lang['GUJARATI'] = '{LA_GUJARATI}';
lang['HAUSA'] = '{LA_HAUSA}';
lang['HEBREW'] = '{LA_HEBREW}';
lang['HINDI'] = '{LA_HINDI}';
lang['HUNGARIAN'] = '{LA_HUNGARIAN}';
lang['ICELANDIC'] = '{LA_ICELANDIC}';
lang['INDONESIAN'] = '{LA_INDONESIAN}';
lang['INTERLINGUA'] = '{LA_INTERLINGUA}';
lang['INUPIAK'] = '{LA_INUPIAK}';
lang['IRISH'] = '{LA_IRISH}';
lang['ITALIAN'] = '{LA_ITALIAN}';
lang['JAPANESE'] = '{LA_JAPANESE}';
lang['JAVANESE'] = '{LA_JAVANESE}';
lang['KANNADA'] = '{LA_KANNADA}';
lang['KASHMIRI'] = '{LA_KASHMIRI}';
lang['KAZAKH'] = '{LA_KAZAKH}';
lang['KINYARWANDA'] = '{LA_KINYARWANDA}';
lang['KIRGHIZ'] = '{LA_KIRGHIZ}';
lang['KIRUNDI'] = '{LA_KIRUNDI}';
lang['KOREAN'] = '{LA_KOREAN}';
lang['KURDISH'] = '{LA_KURDISH}';
lang['LAOTHIAN'] = '{LA_LAOTHIAN}';
lang['LATIN'] = '{LA_LATIN}';
lang['LETTISH'] = '{LA_LETTISH}';
lang['LINGALA'] = '{LA_LINGALA}';
lang['LITHUANIAN'] = '{LA_LITHUANIAN}';
lang['MACEDONIAN'] = '{LA_MACEDONIAN}';
lang['MALAGASY'] = '{LA_MALAGASY}';
lang['MALAY'] = '{LA_MALAY}';
lang['MALAYALAM'] = '{LA_MALAYALAM}';
lang['MALTESE'] = '{LA_MALTESE}';
lang['MAORI'] = '{LA_MAORI}';
lang['MARATHI'] = '{LA_MARATHI}';
lang['MOLDAVIAN'] = '{LA_MOLDAVIAN}';
lang['MONGOLIAN'] = '{LA_MONGOLIAN}';
lang['NAURU'] = '{LA_NAURU}';
lang['NEPALI'] = '{LA_NEPALI}';
lang['NORWEGIAN'] = '{LA_NORWEGIAN}';
lang['OCCITAN'] = '{LA_OCCITAN}';
lang['ORIYA'] = '{LA_ORIYA}';
lang['OROMO'] = '{LA_OROMO}';
lang['PASHTO'] = '{LA_PASHTO}';
lang['PERSIAN'] = '{LA_PERSIAN}';
lang['POLISH'] = '{LA_POLISH}';
lang['PORTUGUESE'] = '{LA_PORTUGUESE}';
lang['PUNJABI'] = '{LA_PUNJABI}';
lang['QUECHUA'] = '{LA_QUECHUA}';
lang['RHAETO_ROMANCE'] = '{LA_RHAETO_ROMANCE}';
lang['ROMANIAN'] = '{LA_ROMANIAN}';
lang['RUSSIAN'] = '{LA_RUSSIAN}';
lang['SAMOAN'] = '{LA_SAMOAN}';
lang['SANGRO'] = '{LA_SANGRO}';
lang['SANSKRIT'] = '{LA_SANSKRIT}';
lang['SCOTS_GAELIC'] = '{LA_SCOTS_GAELIC}';
lang['SERBIAN'] = '{LA_SERBIAN}';
lang['SERBO_CROATIAN'] = '{LA_SERBO_CROATIAN}';
lang['SESOTHO'] = '{LA_SESOTHO}';
lang['SETSWANA'] = '{LA_SETSWANA}';
lang['SHONA'] = '{LA_SHONA}';
lang['SINDHI'] = '{LA_SINDHI}';
lang['SINGHALESE'] = '{LA_SINGHALESE}';
lang['SISWATI'] = '{LA_SISWATI}';
lang['SLOVAK'] = '{LA_SLOVAK}';
lang['SLOVENIAN'] = '{LA_SLOVENIAN}';
lang['SOMALI'] = '{LA_SOMALI}';
lang['SPANISH'] = '{LA_SPANISH}';
lang['SUDANESE'] = '{LA_SUDANESE}';
lang['SWAHILI'] = '{LA_SWAHILI}';
lang['SWEDISH'] = '{LA_SWEDISH}';
lang['TAGALOG'] = '{LA_TAGALOG}';
lang['TAJIK'] = '{LA_TAJIK}';
lang['TAMIL'] = '{LA_TAMIL}';
lang['TATAR'] = '{LA_TATAR}';
lang['TEGULU'] = '{LA_TEGULU}';
lang['THAI'] = '{LA_THAI}';
lang['TIBETAN'] = '{LA_TIBETAN}';
lang['TIGRINYA'] = '{LA_TIGRINYA}';
lang['TONGA'] = '{LA_TONGA}';
lang['TSONGA'] = '{LA_TSONGA}';
lang['TURKISH'] = '{LA_TURKISH}';
lang['TURKMEN'] = '{LA_TURKMEN}';
lang['TWI'] = '{LA_TWI}';
lang['UKRAINIAN'] = '{LA_UKRAINIAN}';
lang['URDU'] = '{LA_URDU}';
lang['UZBEK'] = '{LA_UZBEK}';
lang['VIETNAMESE'] = '{LA_VIETNAMESE}';
lang['VOLAPUK'] = '{LA_VOLAPUK}';
lang['WELSH'] = '{LA_WELSH}';
lang['WOLOF'] = '{LA_WOLOF}';
lang['XHOSA'] = '{LA_XHOSA}';
lang['YIDDISH'] = '{LA_YIDDISH}';
lang['YORUBA'] = '{LA_YORUBA}';
lang['ZULU'] = '{LA_ZULU}';

// ]]>
</script>
